.controlPane {
  width: 50%;
  padding: 24px;
  padding-right: 0px;
  padding-bottom: 0px;
  /* Optical centering */
  padding-top: 18px;
  background-color: white;
  border-radius: 8px;
  /*
    HACK: Margin on an outer bound like this is
    a little gross, but we haven't seen the tools
    to deal with it yet!
  */
  margin-bottom: 32px;
}

.title {
  margin: 0;
  /* Optical centering */
  margin-bottom: 4px;
}

.metadata {
  margin-left: 16px;
  font-size: 0.875rem;
  font-weight: 400;
  color: hsl(0deg, 0%, 30%);

  /* Visually center the metadata closer to the title vs. the squares */
  position: relative;
  bottom: 3px;
}

@media only screen and (max-width: 1000px) {
  .controlPane {
    margin-right: 16px;
  }
}
